.center {
    margin: auto;
    width: 80%;
    padding: 20px;
    font-family: "Helvetica Neue", serif;
    font-size: 4vw;
    background-color: #eee;
    color: #444;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.4s;
    margin-bottom: 10px;
}

.headers {
    margin: auto;
    background-color: lightsteelblue;
    width: 95%;
    padding: 20px;
    font-family: "Helvetica Neue", serif;
    font-size: 5vw;
    text-align: center;
    position: sticky;
    top: 0;
}

.img_center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .center:hover {
    background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    margin: auto;
    padding: 5px 20px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    text-align: center;
}

.center:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

button {
    margin:auto;
    display:block;
}

.subs {
    margin: auto;
    width: 60%;
    padding: 40px;
    font-family: "Helvetica Neue", serif;
    font-size: larger;
    background-color: #eee;
    color: #444;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.4s;
}

.button2 {
    background-color: #eeeeee;
    border: none;
    color: #444444;
    text-align: center;
    font-size: 4vw;
    border-radius: 25px;
    padding: 15px;
    width: 60%;
    transition: all 0.5s;
    cursor: pointer;
    margin: auto;
    margin-bottom: 10px;
}

.button2 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button2 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button2:hover span {
    padding-right: 25px;
}

.button2:hover span:after {
    opacity: 1;
    right: 0;
}

.button3 {
    background-color: #cccccc;
    border: none;
    color: #444444;
    border-radius: 25px;
    text-align: center;
    font-size: 4vw;
    padding: 15px;
    width: 60%;
    transition: all 0.5s;
    cursor: pointer;
    margin: auto;
    margin-bottom:10px;
}

.button3 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button3 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button3:hover span {
    padding-right: 25px;
}

.button3:hover span:after {
    opacity: 1;
    right: 0;
}
li{
    margin-top: 10px;
    border:1px solid grey;
}